In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

DB_USERNAME = os.environ.get('DB_USERNAME')
DB_PASSWORD = os.environ.get('DB_PASSWORD')
DB_NAME = os.environ.get('DB_NAME')

engine = create_engine(f'postgresql://{DB_USERNAME}:{DB_PASSWORD}@localhost:5432/{DB_NAME}')

In [2]:
query = """
SELECT "CODIGO_CURSO", "NOME_CURSO", "SIGLA_IES", "MUNICIPIO_CAMPUS", count(*) as "INSCRITOS"
	FROM regular_2022
	where "EDICAO" = 1 and "SIGLA_IES" = 'IFPB'
	group by "CODIGO_CURSO", "NOME_CURSO", "SIGLA_IES", "MUNICIPIO_CAMPUS"
order by "INSCRITOS" desc
"""
df = pd.read_sql_query(query, engine)

# SELECT "CODIGO_CURSO", "NOME_CURSO", "TIPO_MOD_CONCORRENCIA", "QT_VAGAS_CONCORRENCIA",
# 	"EDICAO", count(*) as "INSCRITOS"
# 	FROM regular_2022
# 	where "EDICAO" = 1
# 	group by "CODIGO_CURSO", "NOME_CURSO", "TIPO_MOD_CONCORRENCIA", "QT_VAGAS_CONCORRENCIA", "EDICAO"
# order by "INSCRITOS" desc

In [3]:
display(df.head(15))

,CODIGO_CURSO,NOME_CURSO,SIGLA_IES,MUNICIPIO_CAMPUS,INSCRITOS
0,100260,ADMINISTRAÇÃO,IFPB,João Pessoa,1015
1,49960,DESIGN DE INTERIORES,IFPB,João Pessoa,472
2,123237,MEDICINA VETERINÁRIA,IFPB,Sousa,468
3,1167926,GESTÃO COMERCIAL,IFPB,Guarabira,459
4,1176228,LETRAS - LÍNGUA PORTUGUESA,IFPB,Campina Grande,437
5,1457169,ENGENHARIA CIVIL,IFPB,Patos,411
6,1342196,ENGENHARIA DE COMPUTAÇÃO,IFPB,Campina Grande,369
7,1188396,EDUCAÇÃO FÍSICA,IFPB,Sousa,365
8,123116,SEGURANÇA NO TRABALHO,IFPB,Patos,345
9,1176228,LETRAS - LÍNGUA PORTUGUESA,IFPB,João Pessoa,339
10,123105,DESIGN GRÁFICO,IFPB,Cabedelo,315
11,1262856,ENGENHARIA CIVIL,IFPB,Cajazeiras,306
12,95104,ANÁLISE E DESENVOLVIMENTO DE SISTEMAS,IFPB,Cajazeiras,305
13,1176228,LETRAS - LÍNGUA PORTUGUESA,IFPB,Sousa,295
14,71127,SISTEMAS PARA INTERNET,IFPB,João Pessoa,269

In [4]:
display(df.tail(15))

,CODIGO_CURSO,NOME_CURSO,SIGLA_IES,MUNICIPIO_CAMPUS,INSCRITOS
28,1188374,FÍSICA,IFPB,Campina Grande,159
29,1032499,AGROECOLOGIA,IFPB,Sousa,158
30,1127900,CONSTRUÇÃO DE EDIFÍCIOS,IFPB,Campina Grande,152
31,103486,TELEMÁTICA,IFPB,Campina Grande,148
32,95101,NEGÓCIOS IMOBILIÁRIOS,IFPB,João Pessoa,144
33,1341255,CIÊNCIAS BIOLÓGICAS,IFPB,Cabedelo,143
34,123235,ALIMENTOS,IFPB,Sousa,139
35,1457501,CIÊNCIAS BIOLÓGICAS,IFPB,Princesa Isabel,124
36,1457167,MATEMÁTICA,IFPB,João Pessoa,110
37,61076,GEOPROCESSAMENTO,IFPB,João Pessoa,105
38,123114,CONSTRUÇÃO DE EDIFÍCIOS,IFPB,Monteiro,104
39,81312,QUÍMICA,IFPB,João Pessoa,104
40,123233,QUÍMICA,IFPB,Sousa,96
41,123120,GESTÃO AMBIENTAL,IFPB,Princesa Isabel,74
42,123118,AGROECOLOGIA,IFPB,Picuí,51

In [5]:
query = """
select "NOME_CURSO", "EDICAO", count(*) as "INSCRITOS"
	from regular_2022
	group by "NOME_CURSO", "EDICAO"
order by "INSCRITOS" desc
"""
df = pd.read_sql_query(query, engine)
display(df.head(15))

               NOME_CURSO  EDICAO  INSCRITOS
0                MEDICINA       1     243183
1                MEDICINA       2     142060
2                 DIREITO       1     117319
3           ADMINISTRAÇÃO       1      96843
4              ENFERMAGEM       1      85225
5              PSICOLOGIA       1      74426
6               PEDAGOGIA       1      66430
7    MEDICINA VETERINÁRIA       1      57960
8         EDUCAÇÃO FÍSICA       1      45551
9    CIÊNCIAS BIOLÓGICAS        1      45522
10  CIÊNCIA DA COMPUTAÇÃO       1      42286
11            ODONTOLOGIA       1      41536
12              AGRONOMIA       1      40070
13                DIREITO       2      38233
14       ENGENHARIA CIVIL       1      37899